#all-entries {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;

  .mdc-top-app-bar {
    position: static;
  }

  main {
    overflow: scroll;
    padding: 8px;

    a {
      color: black;

      &:hover {
        text-decoration: none;
      }
    }
  }
}