<div class="form-group">
  <%= form_tag do %>
    <input type="text" placeholder="email" name="email" id="email">
    <input type="password" placeholder="password" name="password" id="password">
    <input type="submit" value="ok" class="btn-primary">

  <% end %>
</div>
