#overview {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;

  #avatar {
    border-radius: 50%;
    margin: auto;
  }

  .mdc-top-app-bar {
    position: static;
  }

  main {
    overflow: scroll;
    padding: 8px;

    .app-fab--absolute {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
    }

    #donutchart {
      width: 100%;
      height: 90vw;
      max-height: 500px;
      margin-top: 20px;
    }

    table {
      margin: auto;
      width: 50%;
    }

    table td {
      text-align: right;
      font-weight: bold;
    }

    .positive {
      color: green;
    }

    .negative {
      color: red;
    }

    .entries-overview {
      text-align: center;
    }

    #balance {
      p {
        font-size: 200%;
        font-weight: bold;
      }
    }
  }
}