<div id="statistics">

  <%= render 'app_bar', title: t(:statistics) %>

  <main>

    <div class="card mdc-elevation--z1">
      <div id="incomes_chart"></div>
    </div>

    <div class="card mdc-elevation--z1">
      <div id="expenses_chart"></div>
    </div>

    <div class="card mdc-elevation--z1">
      <div id="balance_chart"></div>
    </div>

  </main>
</div>